<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chat.friend.mapper.UserMapper">

    <select id="search" resultType="com.chat.friend.domain.vo.FriendSearchVo">
        SELECT u.userId, u.nickname, u.email, u.introduce, u.photo, f.friendName
        FROM friend f left join user u on u.userId = f.friendId where f.userId = #{userId} and f.friendId = #{friendId}
    </select>
</mapper>